body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex:1;
}

.tile-image
{
  float: left;
  height : 200px;
}
.left
{
  float : left;
}
.right
{
  float: right;
}
.card
{
  width : 45%
}
.creative
{
  color : midnightblue;
}
h1 {
  font-size: 5rem;
}
@media(max-width:680px)
{
  .logo
  {
    width: 100px;
  }
  main
  {
    flex: 0.5;
  }

  .card
  {
    display: block;
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
  }
  .card img
  {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  
  
}

footer {
  text-align: right;
  color: midnightblue;
  clear : both;
}

